<%- include("partials/header"); -%>
    <h1>About Us</h1>

    <p>
        Welcome to <strong>Daily Journal</strong>! Our mission is to provide a simple, secure, and inspiring
        platform where you can capture your thoughts, reflect on your experiences, and grow personally through the art
        of journaling.
    </p>

    <p>
        I’m <strong>Anshul Rai</strong>, the creator behind <strong>Daily Journal</strong>. As a passionate
        individual with a love for writing and personal growth, I developed this platform to offer a space where you can
        document your daily life, dreams, and reflections in a meaningful way.
    </p>

    <p>
        I envision a world where journaling becomes a cherished part of everyday life, fostering self-discovery and
        emotional well-being. Through this platform, I aim to make journaling accessible and enjoyable for everyone,
        helping you to find joy in your personal writing journey.
    </p>

    <p>
        What I Offer:
    <ul>
        <li><strong>Intuitive Design:</strong> An easy-to-use interface designed for a seamless journaling experience.
        </li>
        <li><strong>Privacy and Security:</strong> Your entries are protected and kept confidential.</li>
        <li><strong>Accessibility:</strong> Write and access your journal from any device, anytime, anywhere.</li>
    </ul>
    </p>

    <p>
        Whether you’re new to journaling or a seasoned writer, I invite you to explore the many benefits of capturing
        your thoughts and experiences. Start today and see how your personal stories and reflections can shape your
        life.
    </p>

    <p>
        Thank you for visiting <strong>Daily Journal</strong>. I’m excited to be part of your journaling journey!
    </p>
<%- include("partials/footer"); -%>